<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Create your own post</title>

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />

    <!-- Tailwind CSS -->
    <link
      href="https://unpkg.com/tailwindcss/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <!-- Public CSS -->
    <!-- Public CSS -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/addPost/style.css" />
    <!-- <link rel="stylesheet" href="/css/posts/style.css" /> -->
  </head>
  <body>
    <h3>Add a post!</h3>
    <div><%= typeof msg != 'undefined' ? msg : '' %></div>
    <!-- an error message if an unsupported clip is uploaded -->
    <form action="/post/addPost" enctype="multipart/form-data" method="POST">
      <div>
        <label for="content">Got a Pic?</label>
        <span>Only supports: .jpg, .png, jpeg</span>
        <input class="content" type="file" name="file" />
      </div>
      <div>
        <label for="caption">Give us a caption:</label>
        <input type="text" name="caption" placeholder="CLEVER CAPTION" />
      </div>
      <div>
        <label for="clip">Got a Twitch Clip? Paste it here</label>
        <input type="text" name="clip" placeholder="TWITCH LINK" />
      </div>
      <button type="submit">Upload...BOOM!</button>
    </form>
  </body>
</html>
