<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Post</title>
    <link rel="stylesheet" href="/css/addPost/style.css" />
  </head>
  <body>
    <form action="/posts/addPost" enctype="multipart/form-data" method="POST">
      <div>
        <label for="caption">Caption</label>
        <input type="text" name="caption" />
      </div>
      <div>
        <label for="content">Picture</label>
        <input class="content" type="file" name="file" />
      </div>
      <button type="submit">Upload...Boom!</button>
    </form>
  </body>
</html>
