<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Create your own post</title>

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />

    <!-- Tailwind CSS -->    
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Public CSS -->
    <link rel="stylesheet" href="/css/addPost/style.css" />
  </head>

  <body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <div class="viewport-wrap">
      <div class="flex flex-row justify-center items-center content-center my-8 mx-auto">
        <main class="content-wrapper ">
          <h1 class="text-5xl font-bold mb-8">ADD A POST</h1>
          <form
          action="/post/addPost"
          enctype="multipart/form-data"
          method="POST"
          class="flex flex-col justify-between items-center"
          >          
            <div class="flex flex-col justify-around items-center">
              <label for="caption">Give us a Caption</label>
              <input type="text" name="caption" placeholder="CLEVER CAPTION" />
              <label for="content">Got a Pic?</label>
              <!-- <span> Only supports: .jpg, .png, jpeg,</span> -->
              <div><%= typeof msg != 'undefined' ? msg : '' %></div>
              <!-- an error message if an unsupported clip is uploaded -->
              <span>Upload it here:</span>
              <input class="file inline-block" type="file" name="file" />
            </div>
            <label for="clip">Got a Twitch Clip? Paste it here</label>
            <input class='pb-5' type="text" name="clip" placeholder="TWITCH LINK" />            
            <button
              type="submit"
              class="                
                bg-gray-900
                text-gray-300
                px-9
                py-4                
                inline-block
                text-center
                shadow-2xl
                rounded-xl
                hover:bg-pink-500
                focus:outline-none
                focus:ring-3 focus:ring-green-800 focus:ring-opacity-50
              "
            >
              Upload...BOOM!
            </button>
          </form>
        </main>
        <!--Sidebar-->
        <%- include('partials/main-nav') %>
      </div>
    </div>
  </body>
</html>
