<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header class="header">
      <h1>Welcome to NUNGRAM</h1>
      <span class="motto">Its not stalking.... its networking!</span>
      <img src="/imgs/leon-profile-pic.jpg" />
    </header>

    <div class="login">
      <a id='loginGoogle' type="submit" href="/auth/google">Login with Google</a>
      <!-- <button type="submit" href="/signup">Sign Up</button> -->
    </div>
  </body>
</html>
