<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<!-- <link rel="manifest" href="/site.webmanifest"> -->

<title>Want to Learn to Code?</title>

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" />
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 

<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />


<!-- Tailwind CSS -->    
<link rel="stylesheet" href="/css/styles.css">

<!-- Public CSS -->
<!-- <link rel="stylesheet" href="css\info-style.css"> -->
<link rel="stylesheet" href="css\info\info-style.css">

</head>
<body>


    <main>
    <section class="leon">
        <h1>Learn With Leon's Resources</h1>
        <p>Want to Learn With Leon? Here are some resources to get you started on your learning to code journey! Everything is completely free--Leon does not charge for this awesome education. Change your life and check out these links:</p>

        <iframe class="sup" src="https://clips.twitch.tv/embed?clip=DependableSincerePigShazBotstix-MJNbKJE0poV_AJkR&parent=thenungram.herokuapp.com" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>

    </section>
    <section class="container links">
        <section class="info">
        <h2>Website</h2></a>
        <a href="https://leonnoel.com/">Let's Go!</a>
        </section>
        <section class="info"> 
        <h2>Twitch</h2>
        <a href="https://www.twitch.tv/learnwithleon">First Try!</a>
        </section>
        <section class="info">
        <h2>Discord</h2>
        <a href="https://discord.com/invite/K7WHGk7">Automagically!</a>
        </section>
        <section class="info">
        <h2>Twitter</h2>
        <a href="https://twitter.com/leonnoel">Go Get!</a>
        </section>
        <section class="info">
        <h2>Resilient Coders</h2>
        <a href="http://resilientcoders.org/">1 Job Plz!</a>
        </section>
    </section>
  </main>
  <!-- Sidebar
  <%- include('partials/yobee-nav') %> -->
    <!-- Nav Bar -->
    <%- include('partials/main-nav') %>

</body>
</html>