<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/posts/style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>POST MEMES!</h1>
    <% for (post of posts) { %>
    <div class="post">
      <div class="caption">
        <span>Caption: <%= post.caption%></span>
      </div>
      <div class="content">
        <p>Content: <%= post.content%></p>
      </div>
      <div class="author">
        <p>User: <%= post.user %></p>
      </div>
      <div class="author">
        <p>pic: <%= post.image %></p>
      </div>
    </div>
    <% } %>
  </body>
</html>
