<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/profile-style.css" />
</head>
<body>
    <section class="container">
        <section class="column">
            <section class="left">
                <section class="profile-pic">
                <h1>Leon Noel</h1>
                <img src="imgs/leon-profile-pic.jpg" alt="Leon Profile Pic">
                <h3>The man, the myth, the legend. Coding god.</h3>
                </section> 
                <section class="everyone-else">
                    <section class="post-box">
                        <h2>User Name </h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt optio saepe suscipit! Voluptatibus dolore voluptates sapiente cumque, cupiditate totam nihil laboriosam fugit enim voluptate vel obcaecati eveniet magnam a id?</p>
                        <img src="https://images.unsplash.com/photo-1570188054394-4b2095f37b60?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80">
                    </section>
                </section>
        </section>
        <h1>This is <%= user.firstName %>'s profile</h1>
        <h2>This was created at: <%= user.createdAt %></h2>
        <img src="<%= user.image %>" />
        <section class="column">
            <section class="right">
                <ul class="nav">
                    <li>Home</li>
                    <li><a href='/posts/addPost'>Create Post</a></li>
                    <li><a href='/posts/randomPost'>Random Post</a></li>
                    <li><a href='/auth/logout'>Logout</a></li>
                </ul>
            </section>
        </section>
    </section>
</body>
</html>