<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1>
        Sign up here!
    </h1>
    <form action="/users/addUser" method="POST">
      <div class="form-option">
        <label for="name">Name</label>
        <input type="text" placeholder="name" name="name" />
      </div>
      <div class="form-option">
        <label for="email">Email</label>
        <input type="text" placeholder="email" name="email" />
      </div>
      <button type="submit">Login</button>
    </form>
  </body>